*{
    margin: 0;
    padding: 0;
}

body{
    background-color: white;
}

header{
    background-color: #7dbd0f;
    padding: 20px;
}

main{
    padding: 20px;
}

#nav{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

#nav li{
    margin: 2px;
    display: inline-block;
}

#nav li a{
    font-size: 20px;
    color: black;
    text-decoration: none;
}

#nav li a:hover{
    color:  rgb(0, 65, 3);
    font-size: 21px;
}
footer
{
    background-color: #7dbd0f;
    text-align: center;
    padding: 0px;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0px;
}
 
